body {
  background-color: white;
  color: limegreen;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: white;
}

a:hover {
  background-color: green;
  color: aquamarine;
}

.container {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 51px;
}
.title {
  text-align: right;
  padding-top: 20px;
  padding-right: 45px;
}
